.forgot-password{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forgot-password > p{
    font-size: larger;
}
.forgot-password > .forgot-password-form{
    width: 30%;
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 25px;
}
.forgot-password > .forgot-password-form > form{
    display: flex;
    flex-direction: column;
}

.forgot-password > .forgot-password-form > form > input[type=text],input[type=password]{
    border-color: lightgray;
    border-radius: 5px;
    font-size: large;
    width: 60%;
    margin-bottom: 10px;
}
.forgot-password > .forgot-password-form > form > a{
    text-decoration: none;
    color: gray;
    margin-top: 10px;
}
.forgot-password > .forgot-password-form > form > input[type=submit]{
    width: 20%;
    color: #fff;
    background-color: green;
    font-size: large;
    cursor: pointer;
    transition: 0.2s;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
.forgot-password > .forgot-password-form > form > input[type=submit]:hover{
    background-color: darkgreen;
}