<div class="forgot-password">
    <h2>Create a new password</h2>
    <div class="forgot-password-form">
        <form [formGroup]="ForgotPasswordForm" (submit)="onSubmit() ">
            
            <label for="userName">User Name</label>
            <input type="text" id="userName" placeholder="Write the User Name" formControlName="username">

            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Create new password" formControlName="password">

            <label for="confirmpassword">Confirm Password</label>
            <input type="password" id="confirmpassword" placeholder="Confirm the new password" formControlName="confirmPassword">

            <input type="submit" name="Submit">
            <a routerLink="">Cancel</a>
        </form>
    </div>
</div>
